<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="AppAPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>
		<add key="Token"   value="c6dafc6d4ae1a2b99efcf3e99a768d37"  />
		<add key="ApiUrl"   value="https://api.openweathermap.org/data/2.5/weather?q="  />
		<add key="ApiIcons"   value="http://openweathermap.org/img/wn/"  />
	</appSettings>
 <applicationSettings>
  <AppAPI.Properties.Settings>
   <setting name="Token" serializeAs="String">
    <value>c6dafc6d4ae1a2b99efcf3e99a768d37</value>
   </setting>
   <setting name="UrlApi" serializeAs="String">
    <value>https://api.openweathermap.org/data/2.5/weather?q=</value>
   </setting>
   <setting name="IconsApi" serializeAs="String">
    <value>http://openweathermap.org/img/wn/</value>
   </setting>
  </AppAPI.Properties.Settings>
 </applicationSettings>
</configuration>